* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #000; overflow: hidden; font-family: sans-serif; }

/* Landing Overlay */
#ui { position: fixed; inset: 0; z-index: 1000; display: flex; flex-direction: column; align-items: center; justify-content: center; background:radial-gradient(circle, #1a1a1a 0%, #000000 100%); }
.logo-text { color: white; font-size: 24px; font-weight: bold; letter-spacing: 6px; margin-bottom: 40px; }
#start-btn { padding: 18px 45px; background: #b13434; color: white; border: none; border-radius: 50px; font-weight: bold; cursor: pointer; }

/* The container just holds the buttons and stays out of the way */
#icon-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0; /* Keeps it from blocking the middle of the screen */
    z-index: 2000; /* Stays above the landing UI and camera */
    pointer-events: none;
}

/* Individual Button Logic */
.round-btn {
    position: fixed; /* Locked to the screen */
    width: 50px;     /* Size of your icons */
    height: 50px;
    pointer-events: auto; /* Makes them clickable */
    cursor: pointer;
}

#btn-left {
    top: 5px;   /* 5px from the top */
    left: 5px;  /* 5px from the left margin */
}

#btn-right {
    top: 5px;   /* 5px from the top */
    right: 5px; /* 5px from the right margin */
}

/* Ensure images fill the buttons */
.round-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Scanner Style */
#scanner-container { position: fixed; inset: 0; z-index: 100; display: flex; flex-direction: column; align-items: center; justify-content: center; padding-bottom: 100px; pointer-events: none; background: transparent; }
.target-box { position: relative; width: 260px; height: 260px; }
.corner { position: absolute; width: 70px; height: 70px; border: 10px solid #b13434; }
.tl { top: 0; left: 0; border-right: none; border-bottom: none; border-radius: 30px 0 0 0; }
.tr { top: 0; right: 0; border-left: none; border-bottom: none; border-radius: 0 30px 0 0; }
.bl { bottom: 0; left: 0; border-right: none; border-top: none; border-radius: 0 0 0 30px; }
.br { bottom: 0; right: 0; border-left: none; border-top: none; border-radius: 0 0 30px 0; }
.status-label { color: white; margin-top: 30px; font-size: 10px; letter-spacing: 3px; font-weight: bold; opacity: 0.7; }


.main-logo {
    width: 150px; 
    height: auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 1001; /* Higher than #ui which is 1000 */
    display: block !important;
}
